

.bg-body-tertiary{
    background-color:#29465B !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
  
   
}

.logo {
    color: #ffffff !important;
    font-size: 2.5rem;
   float: left;
  
}
.sign{
    color: #ffffff !important;
}